.project-top-header {
  background-color: var(--accent);
  height: 50px;
  border-radius: 50px 50px 0px 50px;

  i {
    &:nth-child(1) {
      color: #f04545;
    }

    &:nth-child(2) {
      color: #ede760;
    }

    &:nth-child(3) {
      color: #46cd30;
    }
  }
}

.project-mid-header {
  position: relative;
  margin-top: -1px;

  .project-title {
    position: absolute;
    background-color: var(--bgcolor);
    top: 0;
    left: 0;
    bottom: 0;
    width: min-content;
    // border: 1px solid red;
    border-radius: 0px 50px 50px 0px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
  }

  .project-title-line {
    width: 100%;
    background-color: var(--accent);
    min-height: 50px;
    display: flex;
    align-items: center;

    div {
      border: 2px solid var(--primary);
      width: 100%;
    }
  }
}

.project-content {
  background-color: var(--accent);
  border-radius: 50px 0px 50px 50px;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;

  .project-wrapper {
    position: relative;
    z-index: 6;
  }

  .wave-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;

    height: 80%;
    object-fit: cover;
    object-position: center;

    .wave {
      width: 100%;
      height: 100%;
      filter: blur(5px);
      border-radius: 0 0 50px 50px;
    }
  }

  //   padding: 50px;
}
